/* universal selector */

*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* navigation bar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 46, 15);
    position: sticky;
    top: 0;
}


/* align items horizontaly */
.navbar ul{
    display: flex;
    margin: 20px;
    list-style: none;
}



.navbar li{
    font-weight: bold;
    font-size: 15px;
}

/* space between contents */

.navbar li a{
    text-decoration: none;
    padding: 40px;
    color: white;

}

/* navigation bar mouse hovering color change */

.navbar ul li a:hover{
    color: rgba(233, 56, 56, 0.999);
    text-shadow: 3px 4px 5px whitesmoke;
}

/* Home Section */
#Home{
    display: flex;
    flex-direction: column;
    background-color: rgba(108, 200, 72, 0.095);
    height: 850px;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);

}
/* Background image in Home Section */
#Home::before{
    content: "";
    position: absolute;
    background-image: url(https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 850px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    /* opacity: -8; */
}
/* home page box */
.main{
    border: 1px solid white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 40%;
    top: 60%;

}
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
}
.btn{
    padding: 10px 30px;
    background-color: transparent;
    transition: -6s;
}
.btn:hover{
    background-color: rgb(128, 155, 160);
    cursor: pointer;
    box-shadow: 0 0 5px white, 0 5px 0 white,0 0 5px white;
}

/* about me */

#about{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;

}

#pic img{
    width: 575px;
    height: 400px;
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

#intro h2{
    margin-bottom: 10px;
    text-align: center;
}

/* project */

#project{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    align-items: center;
    padding: 20px;
    
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img{
    width: 360px;
    height: 250px;
    margin: 10px;
}

.gallery img:hover{
    width: 400px;
    transition: 1s;
    border-radius: 50px;
}

/* Services */

#services{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.row{
    display: flex;
    
}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    border: 10px solid black;
    margin: 10px;
    padding: 20px;
    text-align: justify;
    border-radius: 20px;


    background: linear-gradient(to top, green 50% ,white 50%);
    background-size: 100% 200%;
    transition: all 0.8s;

}

.box:hover{
    background-position: left bottom;
    color: rgb(18, 6, 6);
    border: none;
    box-shadow: 0 0 20px rgb(5, 80, 14);
}

.box img{
    width: 250px ;
    height: 250px;
}

/* contact */
#contact{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    flex-direction: column;
}
.row{
    display: flex;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    padding: 10px;
    margin: 5px;


}

#send{
    padding: 10px;
    margin: 5px;

}

#send:hover{
    background-color: green;
    color: bisque;
}